body {
  font-family: Arial, sans-serif;
  padding:2%;
  background-color:red;
}

.container {
  height: 90vh;
  text-align: center;
  background-color: antiquewhite;
  border: solid;
  border-color: aliceblue;
}
header {
  padding: 2% 0;
  height: 20vh;
}

.cake-container {
  position: relative;
}

.cake3 {
  width: 400px;
  height: 100px;
  background-color: #de568c;
  color:#de568c;
  border-style: solid;
  border-color: #e32471;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
}
.cake2 {
  width: 300px;
  height: 100px;
  background-color: #de568c;
  color:#de568c;
  border-style: solid;
  border-color: #e32471;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
}
.cake1 {
  width: 200px;
  height: 90px;
  background-color: #de568c;
  color:#de568c;
  border-style: solid;
  border-color: #e32471;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
}

.cake1:hover{
  width: 210px;
  height: 100px;
  background-color: #de568c;
  color:purple;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-style: solid;
  border-color: #e32471;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;

}.cake2:hover{
  width: 310px;
  height: 110px;
  background-color: #de568c;
  color:purple;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-style: solid;
  border-color: #e32471;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;

}.cake3:hover{
  width: 410px;
  height: 110px;
  background-color: #de568c;
  color:purple;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-style: solid;
  border-color: #e32471;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;

}
.flame:hover{
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count:19;
  transform: rotate(40deg) translate(-1000px, -10px);
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% {transform: rotate(1deg) translate(-1px, -1px);}

}
.flame{
  border-radius:50px;
  background-color: #f8f352;
  width: 10px;
  height: 20px;
  border-style: solid;
  border-color: #f89d52;
  position: relative;
  margin: 0 auto;
}
.candle{
  border-radius:50px;
  background-color: #f852e8;
  width: 10px;
  height: 50px;
  position: relative;
  margin: 0 auto;
}
@keyframes flicker {
  0% { opacity: 0.5; }
  100% { opacity: 1; }
}
.button{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight:bold;
  font-size:90px;
}
